
@{
    Layout = null;
}
@using inlab2.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bill Paid</title>

</head>
<body>
    <h2>Successfully checked out</h2>
</body>
</html>
