



<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Services.css" />

    <style>
        body {
            background:url("https://www.shacksign.com/images/Check%20Out%20Hotel%20Motel%20LED%20Neon%20Sign.jpg");
            margin: 0px;
        }

        .container {
            width: 1000px;
            height: 275px;
            
            background-color: rgba(52,73,94,0.7);
            border-radius: 4px;
            margin: 0 auto;
            margin-left: 350px;
        }

         input[type=text] {
            
            height: 25px;
            width: 500px;
        }
            input[type=password] {
            
            height: 25px;
            width: 500px;
        }
    </style>
   <script>
       function validate()
       {
           var password = document.getElementById("passwordField").value;
           if(password!="admin123")
           {
               alert("Only admins can access this page.If you're an admin make sure you've entered the right password");
               return false;
               
           }
           return true;
       }
   </script>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>

    <h1 style="margin-left:300px;color:black">THANK YOU!IT WAS GREAT HAVING YOU!!</h1>


    <!-- inline CSS on div tag;  external CSS on text boxes;-->

    <div class="container"  style="padding-top:20px;padding-left:50px; margin-top:12%;width:45%;  ">



        <form method="post" onsubmit="return validate()" action="../../Home/BillPaid">
            <label style="color:white">Password:</label> &nbsp;&nbsp;&nbsp; <input name="Password" placeholder="Enter password" type="password" id="passwordField"> </input>

            <br />
            <br />

            <label style="color:white">CustomerID:</label> &nbsp;&nbsp;&nbsp; <input name="CustomerID" placeholder="Enter CustomerID assigned after Room Reservation" type="text" id="CustomerIDField"> </input>

            <br />
            <br />
            <label style="color:white">Mode of Payment:</label> &nbsp; <input  name="ModeOfPayment"  type="radio" value="Cash"  ><label style="color:white">Cash</label></input>
            <br />
            
            <input  name="ModeOfPayment" type="radio" value="Credit Card" style="margin-left:120px" ><label style="color:white">
    Credit Card</label></input>
    <br />
            <br />
            <br />
            <label style="color:white">Check-In Date:</label> &nbsp; <input name="CheckInDate" type="date" id="dateField"></input>
    <label id="status2"></label>
    <br />
    <br />

    <input style="height: 25px; width: 115px;float:left;margin-left:20px" type="submit" id="addButton" value="CheckOut"><label id="status">@Model</label>

</form>


    </div>

</body>
</html>



