

@{
    Layout = null;
}
@using inlab2.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User deleted</title>

</head>
<body>
    <h2>Successfully deleted</h2>
</body>
</html>


