
@{
    Layout = null;
}
@using inlab2.Models

<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            background: url("https://amazingpict.com/wp-content/uploads/2015/03/beach-resorts.jpg");
            margin:0px;
        }
        </style>
    <meta name="viewport" content="width=device-width" />
    <title>homePage</title>

</head>
<body>
  <h1 style="margin-left:70px;margin-top:100px">WELCOME TO A WHOLE NEW WORLD OF DISCOUNTS AND AMAZING OFFERS</h1>
    <br/>
    <br/>
    <h2 style="margin-left:300px;margin-top:50px" >@Model .Please take note as you may need it later.</h2>
    <a href="#"><h2 style="margin-left:550px;margin-top:50px">GET STARTED</h2></a>
    <br />
    <br/>
</body>
</html>
