

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/listOFempl.css" />

    <style>
        body {
            background: url("https://workplacepsychology.files.wordpress.com/2010/06/employees_silhouettes.jpg");
            margin: 0px;
        }



        .container {
            width: 1000px;
            height: 200px;
            background-color: rgba(52,73,94,0.7);
            border-radius: 4px;
            margin: 0 auto;
            margin-left: 350px;
        }

        input[type=text] {
            height: 25px;
            width: 500px;
        }
    </style>
    <script>

        function validate() {
            var password = document.getElementById("passwordField").value;
            if (password != "admin123") {
                alert("Only admins can access this page to view employees.If you're an admin make sure you've entered the right password");
                return false;

            }

            var HotelID = document.getElementById("HotelIDField").value;
            var FloorID = document.getElementById("FloorIDField").value;
            if (HotelID == null || FloorID == "") {
                alert("Please fill in the missing fields.");
                return false;
            }
            if (HotelID < '1' || HotelID > '3') {

                document.getElementById("status").innerText = "Please enter correct hotelID ie: between 1-3.";
                return false;

            }
            if (FloorID < '1' || FloorID > '3') {

                document.getElementById("status").innerText = "Please enter correct FloorlID ie: between 1-3.";
                return false;

            }
            return true;
        }


    </script>
    <meta name="viewport" content="width=device-width" />
    <title>List of employees for the Required Hotel and Floor NO</title>
</head>
<body>

    <h1 style="margin-left:300px;color:black">List of employees for the Required Hotel and Floor NO</h1>


    <!-- inline CSS on div tag;  external CSS on text boxes;-->

    <div class="container" style="padding-top:20px;padding-left:50px; margin-top:12%;width:45%; ">



        <form method="post" onsubmit="return validate()" action="../../Home/emplList">


            <label style="color:white">Password:</label> &nbsp;&nbsp;&nbsp; <input name="Password" placeholder="Enter password" type="password" id="passwordField"> </input>

            <br />
            <br />
            <label style="color:white">HotelID:</label> &nbsp;&nbsp;&nbsp; <input name="HotelID" type="text" id="HotelIDField"> </input>

            <br />
            <br />
            <label style="color:white">FloorID:</label> &nbsp; <input name="FloorID" type="text" id="FloorIDField"></input>
            <br />
            <br />


            <input style="height: 25px; width: 145px;float:left;margin-left:20px" type="submit" id="addButton" value="Available employees"><label id="status">@Model</label>

        </form>


    </div>

</body>
</html>

