

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Room reserved.</title>
</head>
<body>
    <style>
        body {
            background: url("https://www.royal-hawaiian.com/wp-content/uploads/sites/16/2017/10/lux376gr-153417-The-Royal-Hawaiian-Historic-Garden-Suite-Med.jpg");
        }
    </style>

    <div>
        <h1 style="margin-left:500px;margin-top:250px">Room reserved successfully.</h1>
    </div>
</body>
</html>

