@using inlab2.Models
@model User
<a href="../../home/AllStudents">Click here to go back</a>
Student's Info:
<br />
<br />
<br />
@Model.rollNum <br />
@Model.name </br>
@Model.degree </br>
@Model.date </br>

